# Default ignored files
.precomp/
lib/.precomp/
raku-collection-plugins.iml
.idea/
xt/test-dir/
trial/doc-cache/
trial/html/
trial/Website/
trial/Website/*
*.css.map
*.css
/trial/Website/plugins/gather-js-jq/js-templates.raku
/Website/plugins/gather-js-jq/js-templates.raku
