# Default ignored files
.precomp/
lib/.precomp/
raku-collection-plugins.iml
.idea/
xt/test-dir/
trial/doc-cache/
trial/html/
trial/Website/structure-cache/
trial/Website/structure-cache/*
*.css.map
*.css
/lib/html/plugins/gather-js-jq/js-templates.raku
