# Default ignored files
.precomp/
lib/.precomp/
.idea/
/lib/plugins/html/ogdenwebb/bulma/
/trial/doc_cache/
/trial/rendered_html/
/trial/MoritzLenz/structure-cache/
/trial/MoritzLenz/reports/
/trial/MoritzLenz/plugins/
**.css.map
raku-collection-plugin-development.iml
raku-collection-plugins/
/working/
/working/**
/trial/Website/structure-cache/
/trial/Website/reports/
/trial/Website/plugins/
/lib/plugins/html/typegraph/typegraphs/

/.raku-version
/trial/raku_docs/**

/trial/ebook_xhtml/
/trial/ebook_final/
/trial/EBook/structure-cache/
